body {
    margin: 0;
    overflow: hidden;
    background-color: #e4e4e4;


    .back-btn {
        position: fixed;
        width: 5vw;
        height: 5vw;
        
    }

    h1 {
        text-align: center;
        color: #f1f1f1;
        background-color: #2b865f;
        width: 100vw;
    }

    h3 {
        font-size: .8em;
        margin: 1vh 3vw 20vh;
        text-decoration: none;

    }

    p {
        font-size: .7em;
    }

    .btn-group {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 2vh;
        align-items: center;
        margin: 1vh 3vw 20vh;

        .button {
            background-color: #32a875;
            text-align: center;
            padding: 2vh 0;
            width: 90vw;
            /* border: 1px outset black; */
            border-radius: 15px;
            filter: drop-shadow(2px 5px #2b865f);
        }

        a:link,
        a:visited,
        a:active,
        a:hover {
            color: black;
            text-decoration: none;
        }
    }
}

footer {
    height: 5vh;
    width: 100%;
    background-color: #c2c2c2;

}